<template>
    <v-app>
        <v-toolbar color="primary" dark dense v-show="true" app>
            <v-toolbar-title class="ml-0 pl-3">ValetDesk Customer</v-toolbar-title>
        </v-toolbar>
        <v-container fluid>
            <iframe :src=this.$route.query.link width="110%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </v-container>
    </v-app>
</template>
<script>
export default {
  name: "Form",
  created() {
    console.log(this.$route.query.link);
  }
};
</script>
