<template>
  <v-app>
    <v-toolbar color="primary" dark dense v-show="true" app>
      <v-toolbar-title class="ml-0 pl-3">ValetDesk Customer</v-toolbar-title>
    </v-toolbar>
    <v-progress-linear class="progress1 mt-5" :indeterminate="true" color="teal" v-if="showProgress"></v-progress-linear>
    <!-- <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfkFu3g9SFIJJzSt14w4_oLM8_I4etykppRN8a2ZmsDrnspQA/viewform?embedded=true" width="93%" height="95%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe> -->
    <v-container fluid fill-height grid-list-md class="mt-5 mb-0" v-show="showData">
      <v-layout row fill-height justify-center align-center>
        <v-flex xs12 sm6 offset-sm3>
          <v-card>
            <v-carousel class="slider" hide-delimiters>
              <v-carousel-item v-for="(item,i) in items" :key="i">
                <img :src="item.src" alt="" class="center">
              </v-carousel-item>
            </v-carousel>
            <v-card-title primary-title>
              <v-container grid-list-xs>
                <v-layout column>
                  <v-flex xs12 text-xs-center>
                    <h2>Venue Name : {{businessName}}</h2>
                  </v-flex><br>
                  <h3>Vehicle Number : {{vehNum}}</h3>
                  <h3>In Time : {{time}}</h3>
                </v-layout>
              </v-container>
            </v-card-title>
            <v-card-actions>
              <v-spacer v-show="hideCheckout"></v-spacer>
              <v-btn :loading="btnLoading" v-show="hideCheckout" round color="purple" dark @click="reqCar(vehNum,number)">Checkout</v-btn>
              <v-btn block color="purple" v-show="showInfoButton" dark>{{buttonMsg}}</v-btn>
              <v-progress-linear :value="progValue" height="40" v-show="showLinearProgress" color="pink"></v-progress-linear>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- error screen -->
    <v-container grid-list-xs fluid fill-height v-show="showError">
      <v-layout column wrap justify-center align-center>
        <v-icon x-large large>error</v-icon>
        <h1 class="headline">Error getting data.</h1>
        <span class="subheading">Please contact your valet manager.</span>
      </v-layout>
    </v-container>

  </v-app>
</template>
<script>
import axios from "axios";
var timer;
export default {
  name: "Home",
  data() {
    return {
      msg: "Welcome to Your Vue.js App",
      showProgress: true,
      vehNum: "",
      status: "",
      number: "",
      time: 0,
      myObj: [],
      showData: false,
      showError: false,
      btnLoading: false,
      hideCheckout: true,
      showInfoButton: false,
      progValue: 0,
      showLinearProgress: false,
      buttonMsg: "",
      carImage: URL,
      businessName: "",
      link: "",
      windowWidth: 0,
      windowHeight: 0,
      formUrl: "",
      items: []
    };
  },
  mounted() {
    this.$nextTick(function() {
      window.addEventListener("resize", this.getWindowWidth);
      window.addEventListener("resize", this.getWindowHeight);

      //Init
      this.getWindowWidth();
      this.getWindowHeight();
    });
  },
  methods: {
    reqCar(vehNumber, mobNumber) {
      this.btnLoading = true;
      var url =
        this.link +
        "requestToVehicleExit?" +
        "ownerContactNumber=" +
        mobNumber +
        "&vehicleNumber=" +
        vehNumber +
        "&groupId=" +
        this.groupId +
        "&businessId=" +
        this.businessId +
        "&todaysDate=" +
        this.todaysDate;

      console.log(url);

      axios
        .get(url)
        .then(response => {
          console.log(JSON.parse(JSON.stringify(response.data)));
          let value = JSON.parse(JSON.stringify(response.data));

          if (value["statusCode"] == 201) {
            this.updateCarStatus(value["data"]["requestId"]);
          } else {
            console.log("error");
          }
        })
        .catch(e => {
          console.log(e);
          this.btnLoading = false;
        });
    },
    updateCarStatus(reqId) {
      //this.$router.replace({ path: "/Form", query: { link: this.formUrl } });
      var url =
        this.link +
        "getCarExitStatus?" +
        "requestId=" +
        reqId +
        "&groupId=" +
        this.groupId +
        "&businessId=" +
        this.businessId +
        "&todaysDate=" +
        this.todaysDate;
      axios
        .get(url)
        .then(response => {
          console.log(JSON.parse(JSON.stringify(response.data)));
          let value = JSON.parse(JSON.stringify(response.data));
          if (value["statusCode"] == 201) {
            this.btnLoading = false;
            this.hideCheckout = false;
            this.showLinearProgress = true;
            this.startTimer();
          } else {
            console.log("error");
          }
        })
        .catch(e => {
          console.log(e);
          this.btnLoading = false;
        });
    },
    startTimer() {
      timer = window.setInterval(this.updateValue, 50000);
    },
    updateValue() {
      if (this.progValue >= 100) {
        window.clearInterval(timer);
        this.showLinearProgress = false;
        this.showInfoButton = true;
      }
      this.progValue = this.progValue + 10;
      console.log(this.progValue);
    },
    getWindowWidth(event) {
      this.windowWidth = document.documentElement.clientWidth;
    },

    getWindowHeight(event) {
      this.windowHeight = document.documentElement.clientHeight;
    }
  },
  created() {
    if (process.env.NODE_ENV == "development") {
      //https://us-central1-tolling-f980c.cloudfunctions.net/
      this.link = "https://us-central1-tolling-f980c.cloudfunctions.net/";
    } else {
      this.link =
        "https://us-central1-valet-production-fc78c.cloudfunctions.net/";
    }
    this.businessId = this.$route.query.bi;
    this.groupId = this.$route.query.gi;
    this.todaysDate = this.$route.query.date;
    this.businessName = this.$route.query.bn;
    var url =
      this.link +
      "getParkedVehicles?" +
      "ownerContactNumber=" +
      this.$route.query.number +
      "&groupId=" +
      this.$route.query.gi +
      "&businessId=" +
      this.$route.query.bi +
      "&todaysDate=" +
      this.$route.query.date;

    axios
      .get(url)
      .then(response => {
        console.log(JSON.parse(JSON.stringify(response.data)));
        this.myObj = JSON.parse(JSON.stringify(response.data));
        if (this.myObj["statusCode"] == 201) {
          this.formUrl = this.myObj["data"]["formUrl"];
          if (this.myObj["data"]["parkedCarsArray"][0]["vehicleNumber"] != "") {
            console.log("success");
            this.vehNum = this.myObj["data"]["parkedCarsArray"][0][
              "vehicleNumber"
            ];
            this.time = new Date(
              this.myObj["data"]["parkedCarsArray"][0]["vehicleInTimeStamp"]
            ).toLocaleTimeString();
            this.number = this.myObj["data"]["parkedCarsArray"][0][
              "ownerContactNumber"
            ]; //ownerContactNumber
            if ("photoUrls" in this.myObj["data"]["parkedCarsArray"][0]) {
              Object.values(
                this.myObj["data"]["parkedCarsArray"][0]["photoUrls"]
              ).forEach(value => {
                this.items.push({ src: value });
              });
            } else {
              this.items.push({
                src:
                  "https://firebasestorage.googleapis.com/v0/b/tolling-f980c.appspot.com/o/parking_event%2F-LK1JyN1iCpT1CHNnQZA%2F1534416117928?alt=media&token=e0c91134-f2a9-47de-b634-dfc269334ff3"
              });
            }

            // if (
            //   Object.keys(this.myObj["data"][0]).includes(
            //     this.myObj["data"][0]["photoUrls"]
            //   )
            // ) {
            //   var image = "";
            //   Object.values(photoUrl).forEach(key => {
            //     this.items.push({ src: value });
            //     // var value = photoUrl[key];
            //     // image = value;
            //     // this.carImage = value;
            //   });
            // } else {
            //   console.log("key absent");
            // }

            // this.imgUrl = image;
            //console.log("image url -->" + this.carImage);

            if (this.items.length == 1) {
              this.items.push({ src: "" });
            }

            console.log("image url -->" + this.items);
            if (
              this.myObj["data"]["parkedCarsArray"][0]["carRequested"] == true
            ) {
              this.showInfoButton = true;
              this.buttonMsg = "Car has already been requested.";
              this.hideCheckout = false;
            } else {
              if (this.myObj["data"]["parkedCarsArray"][0]["status"] == "OUT") {
                //Your car was not found by our system. Please contact the ValetDesk.
                this.showInfoButton = true;
                this.buttonMsg =
                  "Your car was not found by our system. Please contact the ValetDesk.";
                this.hideCheckout = false;
              }
            }
          } else {
            console.log("error");
          }
        } else {
          console.log("error");
        }
        this.showProgress = false;
        this.showData = true;
      })
      .catch(e => {
        console.log(e);
        this.showError = true;
        this.showProgress = false;
      });
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.getWindowWidth);
    window.removeEventListener("resize", this.getWindowHeight);
  }
};
</script>

