body{
    width: 100%;
    height: 100%;
}

.login-main{
    height: 100vh;
    overflow: hidden;
    text-align: center;
    align-items: center;
    align-content: center;
}

.image{
    width: 50%;
    height: 50%;
    padding: 20;
}

.button{
    position: absolute;
    bottom: 20%;
}
.test{
    width: 100%;
    background: burlywood;
    align-content: center;
    align-items: center
}

.slider{
    height: 350px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.progress{
    margin-top: 49px;
}